# Docker
docker-compose.override.yml
docker-volume/
*.local

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build
dist/
build/

# Mongo data
mongo-data/

# Node modules
node_modules/
**/node_modules/